body {
	color: white;
	font-size: medium;
	background-color: rgb(50, 59, 90);
}

h3 {
	color: white;
	font-size: x-large;
	font-weight: bold;
	text-shadow: 3px 3px 0px #111;
	margin-top: 1.5em;
	margin-bottom: 1.2em;
	clear: both;
}

div#header {
	margin-top: 0.5em;
	width: 100%;
}

div.title_logo {
	width: 512px;
	height: 256px;
	background-image: url("../images/meteor_swarm_logo.png");
	margin: auto;
}

div#page {
	margin: 2em auto;
	background-color: rgba(0, 0, 0, 0.1);
}

div#sidebar {
	margin-right: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: xx-large;
	font-variant: small-caps;
}

div#content {
	padding: 1em 0.3em;
}

div#footer {
	clear:both;
	text-align: right;
}

div#trailer {
	width: 600px;
}

ul.navigation {
	margin-top: 0.7em;
	margin-right: 0.5em;
	list-style-type: none;
	text-align: right;
	float:right;
}

ul#screenshots {
	margin-top: 0.5em;
	margin-bottom: 2em;
	padding-bottom: 2em; 
	padding-left: 1.8em;
}

ul#screenshots li {
	padding: 0 0 2em 0;
	display: inline;
	list-style-type: none;
	float: left;
	margin-right: 1em;
}

a {
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	color: white;
}

a:hover {
	text-shadow: rgb(255, 255, 0) 0px 0px 15px;
	color: rgb(255, 255, 0);
}