body {
	color: white;
	font-size: medium;
	background-color: rgb(50, 59, 90);
}

h3 {
	color: white;
	font-size: x-large;
	font-weight: bold;
	text-shadow: 3px 3px 0px #111;
	margin-top: 1.5em;
	margin-bottom: 1.2em;
	clear: both;
}

h4 {
	color: white;
	font-size: large;
	font-weight: bold;
	text-shadow: 3px 3px 0px #111;
	margin-top: 1em;
	margin-bottom: 0.5em;
	clear: both;
}

div#header {
	margin-top: 0.5em;
	width: 100%;
}

div.title_logo {
	width: 512px;
	height: 256px;
	background-image: url("../images/meteor_swarm_logo.png");
	margin: auto;
}

div#page {
	margin: 2em auto;
	background-color: rgba(0, 0, 0, 0.1);

	box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div#sidebar {
	margin-right: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: xx-large;
	font-variant: small-caps;
}

div#content {
	padding: 1em 0.3em;
}

div#footer {
	clear: both;
	text-align: right;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	background-image: -webkit-gradient(linear, 0% 20%, 0% 85%, from(#323B5A), to(#4F5E8F), color-stop(.5,#3F4B73));
	background-image: -moz-linear-gradient(0% 20% 270deg,#323B5A, #4F5E8F, #3F4B73 85%);
}

div#trailer {
	width: 600px;
}

ul.navigation {
	margin-top: 0.7em;
	margin-right: 0.5em;
	list-style-type: none;
	text-align: right;
	float:right;
}

ul#screenshots {
	margin-top: 0.5em;
	padding-left: 1.5em;
}

ul#screenshots li {
	padding: 0;
	padding-bottom: 2em;
	display: inline;
	list-style-type: none;
	float: left;
	margin-right: 1em;
}

a {
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	color: white;
	text-shadow: #000 0px 2px 1px;
}

a:hover {
	text-shadow: rgb(255, 255, 0) 0px 0px 15px;
	color: rgb(255, 255, 0);
}