body {
	color: white;
	font-size: medium;
	background-color: rgb(35, 40, 68);
}

div#header {
	width: 100%;
}

div.title_logo {
	width: 512px;
	height: 256px;
	background-image: url("../images/meteor_swarm_logo.png");
	margin: auto;
}

div#page {
	margin: 2em auto;
}

div#sidebar {
	background-color: rgba(255, 255, 255, 0.1);
	margin-right: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: xx-large;
}

div#content {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 0.5em 0.3em;
}

div#footer {
	clear:both;
	text-align: right;
}

ul.navigation {
	margin-right: 0.5em;
	list-style-type: none;
	text-align: right;
	float:right;
}

a {
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	color: white;
}

a:hover {
	text-shadow: #888 0px 0px 15px;
	color: #AAA;
}
